<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048360839233-3p39k441p6vlussq3vk06mqjkmuqab4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048360839233-3p39k441p6vlussq3vk06mqjkmuqab4q</string>
	<key>API_KEY</key>
	<string>AIzaSyAFRWBPeJX8cQ6m1aqjVaKXJ8s28fAsJew</string>
	<key>GCM_SENDER_ID</key>
	<string>1048360839233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Arpit.AssignmentProject</string>
	<key>PROJECT_ID</key>
	<string>deliveryassignment-3e439</string>
	<key>STORAGE_BUCKET</key>
	<string>deliveryassignment-3e439.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048360839233:ios:0db3576acabfea3a</string>
	<key>DATABASE_URL</key>
	<string>https://deliveryassignment-3e439.firebaseio.com</string>
</dict>
</plist>